<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>
          Email is required
        </mat-error>
        }

        @if (loginForm.get('email')?.hasError('email')) {
        <mat-error>
          Invalid email format
        </mat-error>
        }

      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        @if (loginForm.get('password')?.hasError('required')) {
        <mat-error>
          Password is required
        </mat-error>
        }

      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" [disabled]="loginForm.invalid">
        Sign In
      </button>
      <button type="button" mat-raised-button color="primary" (click)="signUp()" class="full-width" >
        Sign Up
      </button>

    </form>
  </mat-card>
</div>