.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.login-card {
  width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}